.bg-container {
  background-image: linear-gradient(#fa7257, #fc63a7);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  color: #ffffff;
  font-size: 40px;
  font-family: 'Roboto';
}
.data-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.firstname-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fddddb;
  padding: 10px;
  margin: 30px;
  border-radius: 8px;
  margin-left: 30px;
}
.card-heading {
  color: #000000;
  font-size: 40px;
  font-family: 'Roboto';
}
.button {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #dd1264;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 8px;
  background-color: #ffffff;
  border: none;
  border-radius: 4px;
}
