.bg-container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  padding: 10px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading {
  font-family: 'Roboto';
  font-size: 35px;
  color: #ffffff;
  font-weight: bold;
}
.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
}
.firstname-container {
  display: flex;
  flex-direction: column;
}
.lastname-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.button {
  background-color: #ffffff;
  color: #dd1264;
  border-width: 0px;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
}
.para {
  font-family: 'Roboto';
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  background-color: #fddddb;
  border-radius: 10px;
  padding: 100px;
}
@media screen and (max-width: 576px) {
  .details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
  }

  .para {
    padding: 50px;
    text-align: center;
  }
}
